<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/logo.jpg">
      </ion-avatar>
      <ion-label>
        <h1>220 Podcast</h1>
        <h2>{{ titulo }}</h2>
      </ion-label>
    </ion-item>
    <ion-chip slot="end" *ngIf="((currentAuthStatus$ | async) !== null) && (userData !== undefined)">
      <ion-avatar>
        <img [src]="userData.additionalUserInfo.profile.picture" alt="avatar user">
      </ion-avatar>
      <ion-label text-capitalize>
        {{ userData.additionalUserInfo.profile.given_name | titlecase }}
      </ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>
