<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/logo.jpg" alt="logo">
      </ion-avatar>
      <ion-label>
        <h1>220 Podcast</h1>
        <h2>Home</h2>
      </ion-label>
    </ion-item>
    <ion-chip slot="end" *ngIf="((currentAuthStatus$ | async) !== null) && (userData !== undefined)">
      <ion-avatar>
        <img [src]="userData.additionalUserInfo.profile.picture" alt="avatar user">
      </ion-avatar>
      <ion-label text-capitalize>
        {{ userData.additionalUserInfo.profile.given_name | titlecase }}
      </ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm></ion-col>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-title size="large" class="ion-text-center">
              <ion-avatar style="margin: auto">
                <ion-img src="/assets/logo.jpg"></ion-img>
              </ion-avatar>
            </ion-card-title>
            <ion-card-title size="large" class="ion-text-center">220 Podcast</ion-card-title>
            <ion-card-subtitle class="ion-text-center">El sitio no oficial</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-card-title class="ion-text-center">Apoyá el podcast</ion-card-title>
            <ion-card-subtitle class="ion-text-center">Subscripciones Mensuales</ion-card-subtitle>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" size-sm>
                  <ion-button [href]="url_3" expand="block" fill="solid">
                    <ion-icon slot="start" name="cash-outline"></ion-icon>
                    Núcleo Duro $300
                  </ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-button  [href]="url_3" expand="block" fill="solid">
                    <ion-icon slot="start" name="card-outline"></ion-icon>
                    Núcleo más Duro $500
                  </ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-button [href]="url_3" expand="block" fill="solid">
                    <ion-icon slot="start" name="diamond-outline"></ion-icon>
                    Producción ejecutiva $800
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card-subtitle class="ion-text-center">Pago Único</ion-card-subtitle>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" size-sm>
                  <ion-button [href]="url_pago_unico_1" expand="block" fill="solid">
                    $190
                  </ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-button  [href]="url_pago_unico_2" expand="block" fill="solid">
                    $250
                  </ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-button [href]="url_pago_unico_4" expand="block" fill="solid">
                    $400
                  </ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-button [href]="url_pago_unico_6" expand="block" fill="solid">
                    $600
                  </ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-button [href]="url_pago_unico_8" expand="block" fill="solid">
                    $800
                  </ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-button [href]="url_pago_unico_10" expand="block" fill="solid">
                    $1000
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" size-sm></ion-col>
                <ion-col size="12" size-sm>
                  <ion-img src="/assets/miniatura.jpg" alt="logo" ></ion-img>
                </ion-col>
                <ion-col size="12" size-sm></ion-col>
              </ion-row>
            </ion-grid>
            <ion-text>
              Hola, somos Nico y Tomi, seguramente nos conozcas de podcasts como 220. Si viniste hasta acá debe ser que te interesa esto que hacemos y eso ya es mucho. 220 Podcast empezó como una forma de romper el aislamiento mental de la pandemia. Aprovechando que no lo hacemos en un medio tradicional, tratamos de que haya honestidad. Empezamos con la idea de tirar una botella con un mensaje al mar pero alrededor de esto se armó una sensación de comunidad y eso es lo que más nos importa. Y mangueamos plata porque necesitamos buscar la forma de financiar nuestro trabajo. ¨Los medios¨ se transformaron un poco en esto y en algún sentido está muy bien. Con un poco de pudor creamos suscripciones mensuales con tarjeta y aportes de una vez. Si podés aportar algo a la causa y que no te genere un problema financiero sabé que lo vamos a valorar mucho. Qué viva la autogestión, el núcleo duro y la internet!
            </ion-text>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" size-sm></ion-col>
                <ion-col size="12" size-sm>
                  <ion-button routerLink=videos>
                    Videos
                  </ion-button>
                </ion-col>
                <ion-col size="12" size-sm></ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <a [href]="url_avatar_nico">
          <ion-avatar style="margin: auto">
            <img src="/assets/avatar_nico.jpg" alt="avatar">
          </ion-avatar>
        </a>
      </ion-col>
      <ion-col size="4">
        <a [href]="url_avatar_canal">
          <ion-avatar style="margin: auto">
            <img src="/assets/avatar_canal.png" alt="avatar">
          </ion-avatar>
        </a>
      </ion-col>
      <ion-col size="4">
        <a [href]="url_avatar_tomas">
          <ion-avatar style="margin: auto">
            <img src="/assets/avatar_tomas.jpg" alt="avatar">
          </ion-avatar>
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col class="ion-text-center" size="6">
        <ion-text>
            220 Podcast - © 2011
        </ion-text>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col class="ion-text-center" size="6">
        <ion-text>
          || Design || KmoM <a href="https://kmom88.github.io/KmoM-Dev1/">愛</a> ||
        </ion-text>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



